body 
{ 
    padding: 5em; 
    font-family: monospace; 
    line-height: 1.5 
}

.board {
    text-align: center;
}

div.tile {
    border: 1px solid black;
    background-size: contain; 
    background-repeat: no-repeat;
    background-position-x: center;
    display: inline-block;
}

.btn {
    border-radius: 50%;
    font-size: 30px;
    cursor: pointer;
}

.btn-right {
    position: absolute;
    right: 184px;
    top: 235px;
}